.testimonial {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  .testimonials-image {
    flex: 0;
    margin-right: 10px;
    img {
      width: 160px;
    }
  }
  .testimonials-meta {
    flex: 1;
    margin-bottom: 10px;
    p {
      margin-bottom: 0;
    }
    a {
    }
  }
  .testimonials-title {
    margin-bottom: 5px;
  }
  .testimonials-name {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
  }
  .testimonials-jobtitle {
    display: inline-block;
    color: $secondary;
  }
  .testimonials-content {
    flex: 1 0 100%;

    blockquote {
      display: block;
      border-width: 2px 0 0 0;
      border-style: solid;
      border-color: #eee;
      padding: 1.5em 0 0.5em;
      margin: 1.5em 0;
      position: relative;
    }
    blockquote:before {
      content: '\201C';
      position: absolute;
      top: 0em;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      width: 3rem;
      height: 2rem;
      font: 6em/1.08em 'PT Sans', sans-serif;
      color: $primary;
      text-align: center;
    }
    // blockquote:after {
    //   content: "\2013 \2003" attr(cite);
    //   display: block;
    //   text-align: right;
    //   font-size: 0.875em;
    //   color: #e74c3c;
    // }
  }
}

.what-we-do-cards {
  justify-content: center;
}

.card {
  background-clip: inherit;
  height: 200px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}

.what-we-do-card {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-mask {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba($primary, 0.8);
  overflow: hidden;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: 2;
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  h4 {
    color: $white;

  }
  .service-text {
    color: $white;
    font-size: 18px;
  }
}

.card:hover {
  .what-we-do-card {
    transform: scale(1.02);
    transition: all 0.25s ease-in;
    box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  }
}

.what-we-do-section {
  width: 100vw;
  padding: 0rem 0 3rem;
  h1,h2,h3,h4 { 
    margin: 2rem 0;
    color: $primary;
  }
  h1 {
    margin: 0;
    padding: 5rem 1rem 1rem;
    text-align: center;
    color: $primary;
  }
  p {
    color: $font-color-base
  }
  a {
    font-weight: $font-weight-normal;
    color: $primary;
  }
}

.yellow-section {
  background-color: rgba($yellow, 1);
}

.white-section {
  background-color: rgba($white, 1);
}

.mask-section {
  background-color: rgba($white, 0.9);
}


