.main {
    height: calc(100vh - 65px);
    width: 100vw;
    color: $grey;
    .container {
        margin: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
}